# Python
venv/
__pycache__/
*.pyc

# React
frontend/node_modules/
frontend/build/

# Datasets
Scraping_part/
sneakers-dataset/
splits/
goat_data/
Original-or-Fake-Shoes-9/
footwear_crops/

# AI models
ai/*.pt
ai/*.pth
ai/*.cbm

# Misc
uploads/
npm-debug.log
*.log
.DS_Store
.env
